# 3. Check Dataset
This file performes some checks. They must not all workout, but you will have far bether results by fixing it!

In [3]:
import pandas as pd
import numpy as np
import sys

In [4]:
df_raw = pd.read_csv('../../data/3. transformation/2_list_all_cleaned.csv')
df_accu = pd.read_csv('../../data/3. transformation/2_accumulations_cleaned.csv')

## Empty HCP-Address check
You should not have any rows withouth an address

In [5]:
#df_raw[df_raw.address.isna() & (df_raw.type == 'hcp')]

## Check for empty name

In [6]:
df_raw[df_raw.name.isna()]

Empty DataFrame
Columns: [internalid, name, location, country, address, plz, uci, donations_grants, sponsorship, registration_fees, travel_accommodation, fees, related_expenses, total, type, source]
Index: []

## Check Sources
Are sources correct?

In [7]:
df_sources = pd.read_csv('../6. database export/sources/liste_companies.csv')

In [8]:
#Join
df_raw = df_raw.merge(df_sources, how='left', left_on='source', right_on='pha_key')
df_raw[df_raw.pha_name.isna()]

Empty DataFrame
Columns: [internalid, name, location, country, address, plz, uci, donations_grants, sponsorship, registration_fees, travel_accommodation, fees, related_expenses, total, type, source, pha_id, pha_key, pha_name]
Index: []

In [9]:
df_sources = pd.read_csv('../6. database export/sources/liste_companies.csv')
    
#Join
df_accu = df_accu.merge(df_sources, how='left', left_on='source', right_on='pha_key')
df_accu[df_accu.pha_name.isna()]

,type,donations_grants,sponsorship,registration_fees,travel_accommodation,fees,related_expenses,total,source,pha_id,pha_key,pha_name
153,hcp_amount,0.0,0.0,0.0,0.0,0.0,0.0,0.0,sfl,NaN,NaN,NaN
154,hco_amount,0.0,0.0,0.0,0.0,0.0,0.0,0.0,sfl,NaN,NaN,NaN
155,rnd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,sfl,NaN,NaN,NaN

## Check Schweiz. or Schw.
Replace them!

In [12]:
df_raw[df_raw.name.str.contains("Schweiz.", regex=False, case=False) | df_raw.name.str.contains("Schw.", regex=False, case=False)]

Empty DataFrame
Columns: [internalid, name, location, country, address, plz, uci, donations_grants, sponsorship, registration_fees, travel_accommodation, fees, related_expenses, total, type, source, pha_id, pha_key, pha_name]
Index: []