# 3. Check Dataset
This file performes some checks. They must not all workout, but you will have far bether results by fixing it!

In [10]:
import pandas as pd
import numpy as np
import sys

In [11]:
df_raw = pd.read_csv('../../data/3. transformation/2_list_all_cleaned.csv')
df_accu = pd.read_csv('../../data/3. transformation/2_accumulations_cleaned.csv')

## Empty HCP-Address check
You should not have any rows withouth an address

In [12]:
#df_raw[df_raw.address.isna() & (df_raw.type == 'hcp')]

## Check for empty name

In [13]:
df_raw[df_raw.name.isna()]

Empty DataFrame
Columns: [internalid, name, location, country, address, plz, uci, donations_grants, sponsorship, registration_fees, travel_accommodation, fees, related_expenses, total, type, source]
Index: []

## Check Sources
Are sources correct?

In [14]:
df_sources = pd.read_csv('../6. database export/sources/liste_companies.csv')

In [15]:
#Join
df_raw = df_raw.merge(df_sources, how='left', left_on='source', right_on='pha_key')
df_raw[df_raw.pha_name.isna()]

Empty DataFrame
Columns: [internalid, name, location, country, address, plz, uci, donations_grants, sponsorship, registration_fees, travel_accommodation, fees, related_expenses, total, type, source, pha_id, pha_key, pha_name]
Index: []

In [16]:
df_sources = pd.read_csv('../6. database export/sources/liste_companies.csv')
    
#Join
df_accu = df_accu.merge(df_sources, how='left', left_on='source', right_on='pha_key')
df_accu[df_accu.pha_name.isna()]

,type,donations_grants,sponsorship,registration_fees,travel_accommodation,fees,related_expenses,total,source,pha_id,pha_key,pha_name
244,hcp_amount,0.0,0.0,0.0,0.0,0.0,0.0,0.0,sfl,NaN,NaN,NaN
245,hcp_count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,sfl,NaN,NaN,NaN
246,hco_amount,0.0,0.0,0.0,0.0,0.0,0.0,0.0,sfl,NaN,NaN,NaN
247,hco_count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,sfl,NaN,NaN,NaN
248,rnd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,sfl,NaN,NaN,NaN

## Check Schweiz. or Schw.
Replace them!

In [17]:
df_raw[df_raw.name.str.contains("Schweiz.", regex=False, case=False) | df_raw.name.str.contains("Schw.", regex=False, case=False)]

Empty DataFrame
Columns: [internalid, name, location, country, address, plz, uci, donations_grants, sponsorship, registration_fees, travel_accommodation, fees, related_expenses, total, type, source, pha_id, pha_key, pha_name]
Index: []

## Check wrong Country

In [18]:
df_raw[df_raw.country != 'CH']

,internalid,name,location,country,address,plz,uci,donations_grants,sponsorship,registration_fees,travel_accommodation,fees,related_expenses,total,type,source,pha_id,pha_key,pha_name
3770,3771,"Wille, Tonio",Balzers,LI,Unterm Schloss 68,NaN,NaN,NaN,NaN,205.0,605.0,NaN,NaN,810.0,hcp,eli,21,eli,Eli Lilly SA
5569,5570,IGSA Interessensgemeinschaft Schweizer Aerzte,NaN,NaN,Denkmalstrasse 2,NaN,NaN,NaN,3000.0,NaN,NaN,NaN,NaN,3000.0,hco,mepha,35,mepha,Mepha
5646,5647,ESIO - European Society for Intergrative Oncol...,St. Märgen,DE,Rathausplatz 2,NaN,NaN,NaN,3000.0,NaN,NaN,NaN,NaN,3000.0,hco,mepha,35,mepha,Mepha