# 3. Check Dataset
This file performes some checks. They must not all workout, but you will have far bether results by fixing it!

In [1]:
import pandas as pd
import numpy as np
import sys

In [2]:
df_raw = pd.read_csv('../../data/3. transformation/2_list_all_cleaned.csv')
df_accu = pd.read_csv('../../data/3. transformation/2_accumulations_cleaned.csv')

## Empty HCP-Address check
You should not have any rows withouth an address

In [3]:
df_raw[df_raw.address.isna() & (df_raw.type == 'hcp')]

,internalid,name,location,country,address,plz,uci,donations_grants,sponsorship,registration_fees,travel_accommodation,fees,related_expenses,total,type,source
860,861,Stefan Greuter,Sargans,CH,NaN,NaN,NaN,NaN,NaN,154.0,77.00,NaN,NaN,231.00,hcp,amgen
1018,1019,Sara Steffanoni,Bellinzona,CH,NaN,NaN,NaN,NaN,NaN,154.0,77.00,NaN,NaN,231.00,hcp,amgen
2547,2548,Jean Paul Schmid,Barmelweid,CH,NaN,5017.0,40762856,0.0,0.0,0.0,0.00,700.00,0.00,700.00,hcp,bayer
4355,4356,Mirjam Christ-Crain,Basel,CH,NaN,NaN,7601000625311,NaN,NaN,NaN,NaN,4734.77,1106.92,5841.69,hcp,future
4367,4368,Brigitte Rodinger,Basel,CH,NaN,NaN,NaN,NaN,NaN,NaN,210.84,NaN,NaN,210.84,hcp,future
4867,4868,Georg Steinfurth,NaN,CH,NaN,NaN,NaN,NaN,NaN,65.3,123.70,0.00,0.00,189.00,hcp,gruenenthal
5333,5334,Tobias Paust,NaN,CH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1600.00,NaN,1600.00,hcp,lundbeck
5334,5335,Pascal Burger,NaN,CH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1047.00,1047.00,hcp,lundbeck
5614,5615,Christine Kunze,Diessenhofen,CH,NaN,NaN,NaN,NaN,NaN,NaN,336.00,513.00,NaN,849.00,hcp,menarini
5628,5629,Francesco Madonia,Cama,CH,NaN,NaN,NaN,NaN,NaN,338.0,1001.00,NaN,NaN,1339.00,hcp,menarini
5666,5667,Nazim Reshiti,Diessenhofen,CH,NaN,NaN,NaN,NaN,NaN,595.0,1118.00,NaN,NaN,1713.00,hcp,menarini
9965,9966,Cécile Robinson,Zürich,CH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,750.00,NaN,750.00,hcp,teva

## Check for empty name

In [4]:
df_raw[df_raw.name.isna()]

Empty DataFrame
Columns: [internalid, name, location, country, address, plz, uci, donations_grants, sponsorship, registration_fees, travel_accommodation, fees, related_expenses, total, type, source]
Index: []

## Check Sources
Are sources correct?

In [5]:
df_sources = pd.read_csv('../6. database export/sources/liste_companies.csv')

In [6]:
#Join
df_raw = df_raw.merge(df_sources, how='left', left_on='source', right_on='pha_key')
df_raw[df_raw.pha_name.isna()]

Empty DataFrame
Columns: [internalid, name, location, country, address, plz, uci, donations_grants, sponsorship, registration_fees, travel_accommodation, fees, related_expenses, total, type, source, pha_id, pha_key, pha_name]
Index: []

In [7]:
df_sources = pd.read_csv('../6. database export/sources/liste_companies.csv')
    
#Join
df_accu = df_accu.merge(df_sources, how='left', left_on='source', right_on='pha_key')
df_accu[df_accu.pha_name.isna()]

,type,donations_grants,sponsorship,registration_fees,travel_accommodation,fees,related_expenses,total,source,pha_id,pha_key,pha_name
153,hcp_amount,0.0,0.0,0.0,0.0,0.0,0.0,0.0,sfl,NaN,NaN,NaN
154,hco_amount,0.0,0.0,0.0,0.0,0.0,0.0,0.0,sfl,NaN,NaN,NaN
155,rnd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,sfl,NaN,NaN,NaN