# Matches to Excel
This file generates an Excelfile to check the matches

In [1]:
import sys
sys.path.insert(0, '../../data/lib/')

import numpy as np
import pandas as pd
import importlib

import pdfexport
importlib.reload(pdfexport)

from pdfexport import *

## Analyze Grouped

In [2]:
df = pd.read_csv('../../data/3. transformation/5_hco_grouped.csv',index_col = 0)
df = df.sort_values('group')
df = df.set_index([df.group, df.index])
df = df.sort_values(['group', 'name'])

write_to_excel(df, 'grouped.xlsx', open=True, index=True)
df.head()

/Users/hws/Documents/python/pharmagelder/env/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: 'group' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  after removing the cwd from sys.path.

                                 location country           address  plz  uci  \
group name
1     Dermatologische Klinik       Zürich      CH  Gloriastrasse 31  NaN  NaN
      Dermatologische Klinik       Zürich      CH  Gloriastrasse 31  NaN  NaN
      European Dermatology Forum   Zürich      CH  Gloriastrasse 31  NaN  NaN
      European Dermatology Forum   Zürich      CH  Gloriastrasse 31  NaN  NaN
      European Dermatology Forum   Zürich      CH  Gloriastrasse 31  NaN  NaN

                                  donations_grants  sponsorship  \
group name
1     Dermatologische Klinik                  0.00      15000.0
      Dermatologische Klinik                   NaN          NaN
      European Dermatology Forum              0.00      25845.0
      European Dermatology Forum               NaN      48102.0
      European Dermatology Forum          59327.07          0.0

                                  registration_fees  travel_accommodation  \
group name
1     Dermatologische Klinik                    0.0                   0.0
      Dermatologische Klinik                    NaN                 508.0
      European Dermatology Forum                0.0                   0.0
      European Dermatology Forum                NaN                   NaN
      European Dermatology Forum                0.0                   0.0

                                  fees      ...                source  year  \
group name                                  ...
1     Dermatologische Klinik       0.0      ...                abbvie  2015
      Dermatologische Klinik       NaN      ...                abbvie  2016
      European Dermatology Forum   0.0      ...                abbvie  2015
      European Dermatology Forum   NaN      ...                pfizer  2016
      European Dermatology Forum   0.0      ...       glaxosmithkline  2015

                                    address_expand location_expand  \
group name
1     Dermatologische Klinik      gloriastrasse 31         zuerich
      Dermatologische Klinik      gloriastrasse 31         zuerich
      European Dermatology Forum  gloriastrasse 31         zuerich
      European Dermatology Forum  gloriastrasse 31         zuerich
      European Dermatology Forum  gloriastrasse 31         zuerich

                                                 name_expand r_location  \
group name
1     Dermatologische Klinik          dermatologische klinik         27
      Dermatologische Klinik          dermatologische klinik         27
      European Dermatology Forum  european dermatology forum         27
      European Dermatology Forum  european dermatology forum         27
      European Dermatology Forum  european dermatology forum         27

                                 r_address r_name  group  main_address
group name
1     Dermatologische Klinik           NaN    NaN      1           NaN
      Dermatologische Klinik           NaN    NaN      1           NaN
      European Dermatology Forum       NaN    NaN      1           NaN
      European Dermatology Forum       NaN    NaN      1           NaN
      European Dermatology Forum       NaN    NaN      1           NaN

[5 rows x 23 columns]