# Matches to Excel
This file generates an Excelfile to check the matches

In [28]:
import sys
sys.path.insert(0, '../../data/lib/')

import numpy as np
import pandas as pd
import importlib

import pdfexport
importlib.reload(pdfexport)

from pdfexport import *

## Analyze Matches

In [13]:
df = pd.read_csv('../../data/3. transformation/3_hco_matches.csv', index_col=0)
df = df.sort_values('parent')
df = df.set_index([df.parent, df.index])
df = df.sort_values(['parent', 'name'])

write_to_excel(df, 'tmp.xlsx', open=True, index=True)

/Users/hws/Documents/python/pharmagelder/env/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: 'parent' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  after removing the cwd from sys.path.

## Analyze Grouped

In [32]:
df = pd.read_csv('../../data/3. transformation/4_hcp_grouped.csv',index_col = 0)
df = df.sort_values('group')
df = df.set_index([df.group, df.index])
df = df.sort_values(['group', 'name'])

write_to_excel(df, 'tmp.xlsx', open=True, index=True)
df.head()

/Users/hws/Documents/python/pharmagelder/env/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: 'group' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  after removing the cwd from sys.path.

                      name           location country  \
group
1     14       Martin Kägi             Zürich      CH
      90       Martin Kägi             Zürich      CH
2     49     Adrian Ciurea             Zürich      CH
3     111  Agostino Mattei             Luzern      CH
4     144      Aline Veuve  Yverdon-les-Bains      CH

                            address  plz  uci  donations_grants  sponsorship  \
group
1     14   Schaffhauserstra sse 355  NaN  NaN               NaN          NaN
      90   Schaffhauserstra sse 355  NaN  NaN               NaN          NaN
2     49           Gloriastrasse 25  NaN  NaN               NaN          NaN
3     111             Spitalstrasse  NaN  NaN               NaN          NaN
4     144       Rue d'Entremonts 11  NaN  NaN               NaN          NaN

           registration_fees  travel_accommodation    fees  related_expenses  \
group
1     14                 NaN                   NaN  1000.0               NaN
      90               311.0                 541.0  2600.0             750.0
2     49                 NaN                   NaN  1200.0               NaN
3     111                NaN                   NaN  1000.0               NaN
4     144                NaN                   NaN   540.0               NaN

            total type    source  group  main_address
group
1     14   1000.0  hcp  almirall      1           1.0
      90   4202.0  hcp       eli      1           NaN
2     49   1200.0  hcp       eli      2           1.0
3     111  1000.0  hcp       eli      3           1.0
4     144   540.0  hcp       eli      4           1.0