# Roche - Accumulations

In [1]:
import sys
sys.path.insert(0, '../../../lib/')

import numpy as np
import pandas as pd
import importlib

import pdfexport
importlib.reload(pdfexport)

from pdfexport import *

## Import Excel

In [2]:
# Read Excel into DataFrame
df = pd.read_excel("efpia-disclosure-report-ch-2019.xlsx")

## Format Table

In [3]:
df_export = df.copy()

#Drop Columns
df_export = df_export.drop(df.columns[3:10],axis=1)
df_export = df_export.drop(df.columns[0:2],axis=1)

#Rename
df_export.columns = fix_columns_accumulations[0: 8]

amount = df_export[df_export.type.str.contains('Aggregate amount attributable', na=False)]
recipients = df_export[df_export.type.str.contains('Number of Recipients in', na=False)]
rnd = df_export[df_export.type.str.contains('Transfers of Value Research', na=False)]

df_export = pd.concat([amount, recipients, rnd])

#Numberize
df_export = amounts_to_number(df_export)

#Round. Or you get long decimal numbers... perhaps because of excel import?
df_export = df_export.round(2)

#Rename first column
df_export = df_export.reset_index(drop=True)
df_export.iloc[0,0] = "hcp_amount"
df_export.iloc[1,0] = "hco_amount"
df_export.iloc[2,0] = "hcp_count"
df_export.iloc[3,0] = "hco_count"
df_export.iloc[4,0] = "rnd"

export_acumulations(df_export, 'roche')

saved

In [4]:
df_export

,type,donations_grants,sponsorship,registration_fees,travel_accommodation,fees,related_expenses,total,source
0,hcp_amount,NaN,NaN,1339.86,2060.37,30250.0,11441.53,45091.76,roche
1,hco_amount,53403.55,131056.73,0.00,0.00,13625.0,0.00,198085.28,roche
2,hcp_count,NaN,NaN,4.00,7.00,19.0,5.00,27.00,roche
3,hco_count,3.00,6.00,0.00,0.00,3.0,0.00,10.00,roche
4,rnd,NaN,NaN,NaN,NaN,NaN,NaN,10999955.45,roche

In [ ]:
#write_to_csv(df_export, 'tmp.csv')
#write_to_excel(df_export, 'tmp.xlsx', open=True)