# Meda - Accumulations

In [1]:
import sys
sys.path.insert(0, '../../../lib/')

import tabula
import numpy as np
import pandas as pd
import importlib

import pdfexport
importlib.reload(pdfexport)

from pdfexport import *

## Import PDF

In [2]:
# Read pdf into DataFrame
df = tabula.read_pdf("Merckefpia_disclosure_2017_switzerland.pdf", pages='all', lattice=True)

## Format Table

In [3]:
df_export = df.copy()

#Drop Columns
df_export = df_export.drop(df.columns[9:],axis=1)
df_export = df_export.drop(df.columns[6],axis=1)

#Rename
df_export.columns = fix_columns_accumulations[0: 8]

#fill na
df_export = df_export.fillna("")

# Select
amount = df_export[df_export.type.str.contains('Aggregate amount ')]
recipients = df_export[df_export.type.str.contains('Number of Recipients')]
rnd = df_export[df_export.type.str.contains('Transfers of Value re')]

df_export = pd.concat([amount, recipients, rnd])

#Numberize
df_export = cleanup_number(df_export)
df_export = remove_dots(df_export)
df_export = replace_comma_to_dot(df_export)
df_export = amounts_to_number(df_export)
df_export = sum_amounts(df_export)

#Rename first column
df_export = df_export.reset_index(drop=True)
df_export.iloc[0,0] = "hcp_amount"
df_export.iloc[1,0] = "hco_amount"
df_export.iloc[2,0] = "hcp_count"
df_export.iloc[3,0] = "hco_count"
df_export.iloc[4,0] = "rnd"
df_export.loc[df_export.type == 'rnd', "sponsorship"] = np.NaN

export_acumulations(df_export, 'merck')

,type,donations_grants,sponsorship,registration_fees,travel_accommodation,fees,related_expenses,total
0,hcp_amount,NaN,NaN,19231.85,58064.69,166292.99,NaN,243589.53
1,hco_amount,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2,hcp_count,NaN,NaN,52.00,63.00,64.00,115.0,294.00
3,hco_count,NaN,NaN,NaN,NaN,NaN,NaN,0.00
4,rnd,NaN,NaN,NaN,NaN,NaN,NaN,308176.92