# Biggest winner - biggest loser

In [21]:
import pandas as pd
import mysql.connector

## Connect

In [22]:
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database = "pharmagelder"
)

## Load Data

In [23]:
df_transaction = pd.read_sql("""SELECT 
      tra_id as id,
      pha_id as pharma_id,
      pha_name as pharma_name,
      rec_id as recipient_id,
      rec_name as recipient_name,
      rec_address as recipient_address,
      rec_location as recipient_location,
      rec_type as recipient_type,
      trc_id as transaction_category_id,
      trc_name as transaction_category_name,
      tra_year as year,
      tra_value as value
  FROM transaction
  LEFT JOIN pharma ON tra_fk_pharma = pha_id 
  LEFT JOIN recipient ON tra_fk_recipient = rec_id
  LEFT JOIN transaction_category ON tra_fk_transaction_category = trc_id;""", con=db_connection)

## Analyze

In [24]:
df_rec = df_transaction.groupby(['recipient_id', 'year']).agg({
    'recipient_name': 'first',
    'recipient_address': 'first',
    'recipient_location': 'first',
    'recipient_type': 'first',
    'value': 'sum'
})

df_pivot = pd.pivot_table(df_rec, values='value', index=['recipient_id', 'recipient_name', 'recipient_type'], columns='year')
df_pivot= df_pivot.reset_index()

### Delta 2018

In [25]:
df_2018 = df_pivot[df_pivot[2017].notna() & df_pivot[2018].notna()].copy()
df_2018['delta_2018'] = round(df_2018[2018] - df_2018[2017])
df_2018['ratio_2018'] = round(100 / df_2018[2017] * df_2018[2018])

## HCO

### Absolut am meisten zugelegt

In [26]:
df_2018 = df_2018.sort_values('delta_2018', ascending=False)
df_2018[df_2018.recipient_type == 'hco'].head(10)

year,recipient_id,recipient_name,recipient_type,2015,2016,2017,2018,delta_2018,ratio_2018
8995,9021,ESMO,hco,3062325.11,10322180.21,10340144.90,12308069.48,1967925.0,119.0
8988,9014,ERS European Respiratory Society ERS Headquarters,hco,2372427.34,3286866.48,2809678.77,4671194.24,1861515.0,166.0
8954,8979,EASL European Association for the Study of the...,hco,1497026.70,2868655.75,2166821.77,3672046.91,1505225.0,169.0
9760,9799,Universität Zürich,hco,812904.59,694331.70,565715.28,1505651.86,939937.0,266.0
9055,9082,Forum für medizinische Fortbildung - FomF GmbH,hco,314224.00,518402.00,761400.80,1566502.16,805101.0,206.0
9007,9033,EULAR - European League Against Rheumatism,hco,987598.00,3383589.20,3541336.97,4301806.18,760469.0,121.0
9004,9030,ETH Zürich,hco,798353.64,626080.00,249716.00,983580.00,733864.0,394.0
8962,8988,ECTRIMS European Committee for Treatment and R...,hco,434606.43,968478.05,666265.95,1190873.15,524607.0,179.0
9095,9122,FOREUM Foundation for Research in Rheumatology,hco,1940172.45,329320.55,307972.44,755983.48,448011.0,245.0
10454,10517,WSO World Stroke Organization,hco,213524.48,98134.00,50007.00,467951.40,417944.0,936.0

### Prozentual am meisten zugelegt

In [27]:
df_2018 = df_2018.sort_values('ratio_2018', ascending=False)
df_2018[df_2018.recipient_type == 'hco'].head(10)

year,recipient_id,recipient_name,recipient_type,2015,2016,2017,2018,delta_2018,ratio_2018
10285,10341,Swiss Oncology & Hematology Congress,hco,NaN,NaN,600.00,358019.00,357419.0,59670.0
9547,9581,Lung Cancer Europe (LUCE),hco,5000.00,28851.00,442.96,209105.28,208662.0,47206.0
9307,9337,High Tech Home Care AG,hco,NaN,NaN,327.04,47300.75,46974.0,14463.0
9290,9320,Hepatitis Schweiz,hco,NaN,NaN,2000.00,230000.00,228000.0,11500.0
10001,10048,Schweizerische MD-PhD Gesellschaft,hco,3586.00,NaN,2000.00,206101.00,204101.0,10305.0
9969,10016,Schweizerische Vereinigung gegen die Osteoporo...,hco,4000.00,36000.00,3000.00,206000.00,203000.0,6867.0
9796,9836,Praxis am Bahnhof,hco,NaN,NaN,200.00,7860.00,7660.0,3930.0
9584,9618,Medical Image Analysis Center (MIAC AG),hco,NaN,22314.84,2497.70,71579.95,69082.0,2866.0
10431,10494,"Viollier AG Kardiologie, Ambulatorium",hco,784.33,NaN,1342.00,35000.00,33658.0,2608.0
10331,10388,"Thurgau Spital, Frauenklinik Spital Frauenfeld",hco,NaN,NaN,2808.00,61325.50,58518.0,2184.0

## HCP

### Absolut am meisten zugelegt

In [28]:
df_2018 = df_2018.sort_values('delta_2018', ascending=False)
df_2018[df_2018.recipient_type == 'hcp'].head(10)

year,recipient_id,recipient_name,recipient_type,2015,2016,2017,2018,delta_2018,ratio_2018
2864,2874,François Mach,hcp,6545.80,11656.83,39239.48,86803.64,47564.0,221.0
6934,6950,Rolf A. Stahel,hcp,81973.84,75887.00,98930.11,141462.94,42533.0,143.0
5428,5443,Matti Aapro,hcp,97214.55,34925.87,39577.09,72624.21,33047.0,184.0
7862,7880,Thomas Szucs,hcp,1000.00,1800.00,1000.00,32317.24,31317.0,3232.0
6733,6749,Reinhard Dummer,hcp,NaN,2000.00,7914.10,38902.88,30989.0,492.0
117,121,Albina Nowak,hcp,7373.51,NaN,600.00,25828.84,25229.0,4305.0
134,138,Alessandra Curioni,hcp,2324.00,642.00,8327.00,31162.95,22836.0,374.0
6857,6873,Robert Steffen,hcp,6000.00,1200.00,16337.50,38066.00,21728.0,233.0
7247,7263,Serge Ferrari,hcp,NaN,3157.00,1500.00,21214.23,19714.0,1414.0
5697,5712,Miklos Pless,hcp,8709.27,17827.00,12395.02,31452.66,19058.0,254.0

### Prozentual am meisten zugelegt

In [29]:
df_2018 = df_2018.sort_values('ratio_2018', ascending=False)
df_2018[df_2018.recipient_type == 'hcp'].head(10)

year,recipient_id,recipient_name,recipient_type,2015,2016,2017,2018,delta_2018,ratio_2018
117,121,Albina Nowak,hcp,7373.51,NaN,600.00,25828.84,25229.0,4305.0
7862,7880,Thomas Szucs,hcp,1000.00,1800.00,1000.00,32317.24,31317.0,3232.0
6310,6326,Peter Bartel,hcp,1450.30,1239.46,83.42,1949.98,1867.0,2338.0
521,527,Angela Pugliesi,hcp,NaN,1500.00,400.20,9167.26,8767.0,2291.0
1975,1984,Jan Izakovic,hcp,7933.37,2471.06,500.00,10432.25,9932.0,2086.0
5662,5677,Michel Zuber,hcp,NaN,NaN,1000.00,20000.00,19000.0,2000.0
2378,2388,Doris Zürcher,hcp,NaN,NaN,500.00,8309.30,7809.0,1662.0
7157,7173,Sandrine Zweifel,hcp,2000.00,1830.98,750.00,12314.05,11564.0,1642.0
1006,1014,Photis Beris,hcp,7914.57,6673.90,160.36,2623.95,2464.0,1636.0
628,634,Anne Rosselet,hcp,9802.67,2472.93,528.67,8523.12,7994.0,1612.0