# Stallergenes - List
## Important!
`registration_fees` and `travel_accommodation` are only paied by two third. Subtract one third. The total should then be correct

In [1]:
import sys
sys.path.insert(0, '../../../lib/')

import tabula
import numpy as np
import pandas as pd
import importlib

import pdfexport
importlib.reload(pdfexport)

from pdfexport import *

## Import PDF

In [2]:
# Read pdf into DataFrame
df = tabula.read_pdf("efpia-disclosure-code_schedule-offenlegung_2018_0.pdf", pages='all', lattice=True)

## Format Table

In [3]:
df_export = df.copy()

#Rename Columns
df_export.columns = ['empty0', 'name', 'location', 'country', 'address', 'uci', 'donations_grants', 'sponsorship', 'registration_fees', 'travel_accommodation', 'fees', 'related_expenses', 'empty1', 'total']

#Copy empty1 to total
df_export.loc[df_export.empty1.notna(), 'total'] = df_export.empty1

#Remove empty rows
df_export = df_export.dropna(subset=['total'], how='all')

#Remove empties
df_export.drop(columns=['empty0', 'empty1'], inplace=True)

#Type by text
df_export = set_type_by_alphabetical_order(df_export)

#Remove Carination
df_export = remove_carination(df_export, " ")

#Cleanup Numbers
df_export = amounts_to_number(df_export)

#Substract a third of registration_fees and travel_accommodation
df_export['registration_fees'] = round(df_export['registration_fees'] / 3 * 2)
df_export['travel_accommodation'] = round(df_export['travel_accommodation'] / 3 * 2)

#Add empty fields
df_export = add_plz(df_export)

#basic string conversion
df_export = basic_string_conversion(df_export)

export_list(df_export, 'stallergenes')

Total nicht Summe der Werte
saved

In [4]:
df_export[df_export.duplicated()]

Empty DataFrame
Columns: [name, location, country, address, plz, uci, donations_grants, sponsorship, registration_fees, travel_accommodation, fees, related_expenses, total, type, source]
Index: []

In [5]:
#write_to_csv(df_export, 'tmp.csv', True)
#write_to_excel(df_export, 'tmp.xlsx', open=True)